* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

/*Estilos Generales*/
header {
  background-color: #313d52; }

/*Estilos Body*/
body {
  background-color: #f1e4fd; }

main {
  width: 80%;
  margin: 4rem auto; }

img {
  max-width: 100%; }

/*------------MIXIN--------------*/
/*-----------Extend--------------*/
.botonFormulario, .botonEnviar, .botonLimpiar {
  padding: .9rem;
  border: none;
  background-color: #e3414e;
  color: aliceblue;
  margin: 3rem;
  transition: all 2s;
  border-radius: 60rem; }
  .botonFormulario:hover, .botonEnviar:hover, .botonLimpiar:hover {
    transform: scale(1.2); }

/*Index*/
p {
  font-size: 1.5rem;
  color: black; }

.quees {
  font-size: 5rem;
  color: black;
  text-align: center; }

.separacionTextoInicio {
  margin-top: 2rem;
  text-align: center; }

.separacionTextoInicio p, h3, ul {
  margin-top: 2rem;
  font-size: 1.5rem; }

.imagenDEinicio {
  display: block;
  margin: 3rem auto;
  height: 25rem; }

#carouselExampleSlidesOnly {
  width: 35rem;
  margin: 2rem auto;
  max-width: 100%; }
  #carouselExampleSlidesOnly img {
    max-width: 100%; }

#carouselExampleControls {
  width: 35rem;
  margin: 2rem auto;
  max-width: 100%; }
  #carouselExampleControls img {
    width: 50rem;
    height: 30rem;
    max-width: 100%; }

#mainIndex {
  border: solid 0.2rem black;
  border-radius: 5rem;
  padding: 5rem;
  box-shadow: .5rem .5rem 5rem -.5rem;
  background-color: #b3b3b3; }

/*Estilos Menu Principal*/
.menuNavegacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.imagenMenu {
  max-width: 100%;
  height: 10rem;
  width: 10rem;
  display: flex;
  align-items: center;
  margin-left: 2rem; }

.listaProductos {
  display: none; }

.listaGeneral li {
  list-style: none; }
  .listaGeneral li a {
    color: aliceblue;
    text-decoration: none;
    padding: 1.2rem;
    border-bottom: .4rem solid transparent;
    transition: border .3s ease;
    transition: 1s;
    align-items: center; }

nav .listaGeneral {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

#menu .listaGeneral li a:hover {
  border-bottom-color: #e3414e;
  background-color: #05163f;
  border-radius: 3rem; }

.botonIniciar {
  padding: .9rem;
  border: none;
  background-color: #e3414e;
  color: aliceblue;
  margin: 3rem;
  transition: all 2s;
  border-radius: .5rem; }
  .botonIniciar:hover {
    transform: scale(1.2);
    background-color: #fcca16;
    color: #000; }

.logoAnimacion img {
  transition: 2s; }

.logoAnimacion img:hover {
  transform: scale(1.2); }

/*Marcadoras Cards*/
#productos h1 {
  margin: 2rem;
  font-size: 3rem; }

#productos h1,
#productos h2 {
  text-align: center; }

.padreCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  border: solid 0.2rem black;
  border-radius: 5rem;
  padding: 1rem;
  box-shadow: .5rem .5rem 5rem -.5rem;
  background-color: #b3b3b3; }

.marcadoras {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid #202020 0.2rem;
  padding: 1rem;
  margin: 2rem;
  border-radius: 2rem;
  background-color: beige; }
  .marcadoras p {
    font-size: 2rem;
    margin: 1rem; }
  .marcadoras img {
    max-width: 100%; }

#paginasVentas {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem; }
  #paginasVentas h2 {
    font-size: 3rem;
    color: red; }

#paginasVentas img {
  width: 50rem;
  height: 30rem; }

.metodosPagos {
  display: block;
  margin: 5rem 1rem;
  text-align: center; }

.card-link button {
  padding: .5rem;
  border: solid .2rem gray;
  border-radius: 1rem;
  background-color: rgba(141, 141, 141, 0.796);
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  transition: .5s; }
  .card-link button:hover {
    background-color: #85c6ff; }

.card-title {
  font-size: 2rem; }

.card {
  border: solid .2rem gray;
  border-radius: 2rem;
  padding: 3rem; }

.carrito {
  padding: .5rem;
  border: solid .2rem gray;
  border-radius: 1rem;
  background-color: rgba(202, 202, 202, 0.796);
  color: black;
  font-size: 1.5rem;
  cursor: pointer;
  transition: .5s; }
  .carrito:hover {
    background-color: #85c6ff;
    opacity: 1; }

/*Contacto*/
#contacto {
  display: flex;
  flex-direction: column;
  align-items: center; }
  #contacto label {
    color: black;
    font-size: 1.7rem;
    margin: 1rem; }

.h1Contacto {
  font-size: 3rem;
  color: black;
  text-align: center;
  margin: 2rem; }

.h2Contacto {
  color: black;
  font-size: 2rem;
  margin: 3rem 1rem; }

.botonesContacto {
  padding: 2rem; }

.pago {
  margin: 2rem; }

.cuadrito {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
  border-radius: 4rem;
  border-color: red;
  box-shadow: .5rem 1rem 2em; }

legend {
  color: black;
  font-size: 2rem; }

.botonEnviar {
  cursor: pointer; }
  .botonEnviar:hover {
    background-color: #CE7D35; }

.botonLimpiar {
  cursor: pointer; }
  .botonLimpiar:hover {
    background-color: #CE7D35; }

/*GALERIA*/
#galeriaImagen {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center; }
  #galeriaImagen img {
    max-width: 100%;
    width: 40rem; }

.h1Galeria {
  font-size: 3.5rem;
  text-align: center;
  margin: 2rem; }

.h2Galeria {
  font-size: 2rem;
  text-align: center;
  margin: 2rem; }

.imagenHover {
  margin: 1rem;
  border: solid 0.2rem #393939;
  border-radius: 2rem;
  height: 30rem;
  transition: 2s; }
  .imagenHover:hover {
    transform: scale(1.2);
    max-width: 100%; }

#galeriaVideos {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }
  #galeriaVideos iframe {
    max-width: 40rem;
    margin-top: 1rem; }

.h1GaleriaVideos {
  text-align: center;
  font-size: 4rem;
  margin: 2rem; }

/*FOOTER*/
#footer {
  background-color: rgba(69, 69, 69, 0.87);
  border: #00000067 solid; }

.tituloFooter, .copy, .logoFooter, .direccionFooter {
  color: #000;
  display: flex;
  justify-content: center;
  padding: 2rem; }

.redesSociales {
  display: flex;
  justify-content: center; }
  .redesSociales i {
    font-size: 2rem;
    padding: 2rem;
    transition: 2s;
    color: black; }

.copy {
  font-size: 1.5rem; }

#footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.logoFooter {
  margin-top: 5rem;
  max-width: 100%; }

.direccionFooter {
  display: flex;
  flex-direction: column; }

#sectionFooter {
  display: flex;
  flex-direction: row;
  margin: 2rem; }
  #sectionFooter iframe {
    transform: scale(0.8); }

.redesSociales :hover {
  color: #CE7D35;
  cursor: pointer; }

.logoFooter a {
  transition: 2s; }
  .logoFooter a:hover {
    transform: scale(1.2); }

.direccionFooter h2 {
  transition: 2s h2;
    transition-color: #CE7D35; }

/*-------GRILLA-------*/
.menuNavegacion {
  grid-area: header; }

#productos, #mainIndex, #galeriaResponsive {
  grid-area: main; }

#footer {
  grid-area: footer; }

/*------MEDIA QUERY-------*/
@media screen and (max-width: 1335px) {
  .padreCards, main {
    width: 90%;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header header" "main main" "footer footer"; } }

@media screen and (max-width: 984px) {
  .padreCards, main {
    width: 90%;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "main" "footer"; }
  #footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .card {
    max-width: 100%; }
  .menuNavegacion,
  #menu ul {
    display: flex;
    flex-direction: column;
    text-align: center; }
  .listaGeneral li {
    margin-top: 1.5rem; }
  #productos {
    margin: 0rem auto; } }
