/*Marcadoras Cards*/

#productos h1{
    margin: 2rem;
    font-size: 3rem;
}

#productos h1 , 
#productos h2 {
    text-align: center;
}

.padreCards {
display: grid;
grid-template-columns: repeat(3,1fr);
margin: 0 auto;
border: solid .2rem rgb(0, 0, 0);
border-radius: 5rem;
padding: 1rem;
box-shadow: .5rem .5rem 5rem -.5rem;
background-color: rgb(179, 179, 179);
}

.marcadoras{
    @include flex-colum-center;
    border:solid rgb(32, 32, 32) 0.2rem;
    padding: 1rem;
    margin: 2rem;
    border-radius: 2rem;
    background-color: beige;
    transition: 2s;
    &:hover{
        transform:scale(1.1);
        border: solid .5rem #fcca16;
    }
        p{
        font-size: 2rem;
        margin: 1rem;
    }
    img{
        max-width: 100%;
    }
}

#paginasVentas{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem ;
    h2{
        font-size: 3rem;
        color: red;
    }
}

#paginasVentas img{
    width: 50rem;
    height: 30rem;
}

.metodosPagos{
    display: block;
    margin: 5rem 1rem;
    text-align: center;
}

.card-link button{
    padding: .5rem;
    border: solid .2rem gray;
    border-radius: 1rem ;
    background-color: rgba(141, 141, 141, 0.796);
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor: pointer;
    transition: .5s;
    &:hover {
    background-color: #fcca16;
    transform: scale(1.1);
    }
}

.card-title {
    font-size: 2rem;
}

.card{
    border: solid .2rem gray;
    border-radius: 2rem;
    padding: 3rem;
}

.carrito{
    padding: .5rem;
    border: solid .2rem gray;
    border-radius: 1rem ;
    background-color: rgba(202, 202, 202, 0.796);
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    cursor: pointer;
    transition: .5s;
    &:hover {
    background-color: #fcca16;
    transform: scale(1.1);
    opacity: 1;
    }
}